<header>
	<a href="/"><h1 class="logo">That's a Good Question</h1></a>
</header>

<nav>
  <ul>
    <li><a href="/estelle" alt="Estelle"><img src="/assets/img/male-user.svg" class="avatar"><span>Estelle</span></a></li>
    <li><a href="/faris" alt="Faris"><img src="/assets/img/male-user.svg" class="avatar"></a></li>
    <li><a href="/jalen" alt="Jalen"><img src="/assets/img/male-user.svg" class="avatar"></a></li>
    <li><a href="/mingxiang" alt="MX"><img src="/assets/img/male-user.svg" class="avatar"></a></li>
    <li><a href="/ping" alt="Ping"><img src="/assets/img/male-user.svg" class="avatar"></a></li>
    <li><a href="/ssy" alt="SSY"><img src="/assets/img/male-user.svg" class="avatar"></a></li>
    <li><a href="/tom" alt="Tom"><img src="/assets/img/tom.png" class="avatar"></a></li>
  </ul>
</nav>