html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing:  border-box !important;
}

article {
  -moz-column-width: 13em;
  -webkit-column-width: 13em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  padding-top: 20px;
}

section {
  display: inline-block;
  margin:  0.25rem;
  padding:  1rem;
  width:  100%;
  background:  #efefef;
}

body {
  font-family: 'Libre Baskerville', serif;
  background-color: #f2ebe1;
  padding: 20px;
  color: #333;
  margin: 0 auto;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: green;
}

img {
  width: 100%;
  height: auto;
}

ul {
  -webkit-padding-start: 20px;
}

#main-nav {
  max-width: 960px;
  margin: 0 auto;
}

#main-nav header {
  margin: 2rem 1rem;
  text-align: center;
}

#main-nav .logo {
  background: url(/assets/img/logo-newspaper.svg) no-repeat;
  color: transparent;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
}

#main-nav a {
  text-decoration: none;
}

#main-nav nav {
  border-top: solid 1px #666;
  border-bottom: solid 1px #666;
  position: relative;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

#main-nav nav div {
  font-size: 0.8rem;
  text-transform: uppercase;
}

#main-nav nav .left {
  position: absolute;
  left: 0;
}

#main-nav nav .middle {
  position: relative;
}

#main-nav nav .right {
  position: absolute;
  top: 10px;
  right: 0;
}

#main-nav .avatar {
  width: 28px;
  height: 28px;
  border: solid 1px #ddd;
  border-radius: 15px;
  margin-top: 7px;
  opacity: 0.75;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

#main-nav .avatar:hover {
  opacity: 1;
}

#main-footer {
  /* float: left; */
  width: 100%;
  display: inline-block;
}

#main-footer .footer-links {
  margin: 20px 10px;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

#main-footer .footer-links h3 {
  text-align: center;
}

#main-footer a {
  text-decoration: none;
  font-weight: 700;
}

.hr-bold {
  height: 2px;
  border: none;
  background-color: #666;
  margin: 3px 0;
}

.content {
  max-width: 960px;
  margin: 0 auto;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.main-posts {
  position: relative;
}

.main-posted-on {
  font-size: 0.8rem;
  margin: -25px 0 12px 0;
  display: flex;
  align-items: center;
}

.main-posted-on a {
  line-height: 0;
}

.main-post-hr {
  border: 0;
  height: 3px;
}

.main-post-hr {
  height: 6px;
  background: url(/assets/img/hr.png) repeat-x 0 0;
  border: 0;
}

.main-post-avatar {
  height: 20px;
  width: 20px;
  border-radius: 10px;
}

.main-posts .highlight {
  padding: 20px 0;
  /*background: url(/assets/img/3x3.png) repeat-x 0 50%;*/
  border: 0;
  width: 100%;
}

.main-posts .highlight .highlight-title {
  text-align: center;
  padding: 10px;
}

.main-posts .highlight .highlight-title a {
  font-size: 4rem;
  max-width: 700px;
  text-align: center;
  text-transform: capitalize;
}

.main-posts .highlight .featured-image {
  max-height: 400px;
  overflow: hidden;
}

.main-posts .highlight .highlight-subtext {
  border-bottom: solid 1px #333;
  padding: 5px 10px;
}

.main-posts .highlight .highlight-subtext a {
  font-size: 0.8rem;
}

.main-posts .highlight .highlight-subtext .highlight-subtext-author {
  text-transform: uppercase;
  font-weight: 700;
}

.main-posts .highlight .highlight-subtext .highlight-subtext-excerpt p {
  display: inline;
  font-size: 0.75rem;
  text-align: justify;
}

.main-posts .highlight .highlight-subtext .highlight-subtext-more {
  font-size: 0.8rem;
  text-align: right;
}

.main-posts .col-50 {
  box-sizing: border-box;
  width: 33%;
  float: left;
  margin: 0;
  padding: 20px 10px;
}

.main-posts .col-50 h1, h3 {
  margin: 0;
}

.main-posts .col-50 .col-50-title {
  text-transform: capitalize;
}

.main-posts .col-50 .col-50-author span {
  text-transform: capitalize;
}

.main-posts .col-50 .col-50-author {
  font-size: 0.8rem;
  font-weight: 700;
  border-bottom: 1px solid #666;
  color: #333;
}

.main-posts .col-50 .col-50-date {
  font-size: 0.7rem;
  color: #333;
}

.main-posts .col-50 .col-50-excerpt p {
  margin-bottom: 0;
  text-align: justify;
}

.main-posts .col-50 .col-50-more {
  font-family: sans-serif;
  text-align: right;
  width: 100%;
  font-weight: 700;
  font-size: 0.8rem;
}

.main-posts .col-50-highlights-container {
  position: relative;
  margin: 0 auto;
  border-top: solid 1px #666;
  display: none;
}

.main-posts .col-50-highlights-container .col-50-highlights {
  border-top: solid 1px #f2ebe1;
  background-color: #f2ebe1;
  border-right: solid 1px #666;
  border-left: solid 1px #666;
  border-bottom: solid 1px #666;
  width: 150px;
  margin-top: -2px;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  position: absolute;
  left: 50%;
  margin-left: -75px;
}

.hr-col-50 {
  display: none;
}

.main-posts .more-post-inside-container {
  position: relative;
  margin: 0 auto;
  border-top: solid 1px #666;
}

.main-posts .more-post-inside-container .more-post-inside {
  border-top: solid 1px #f2ebe1;
  background-color: #f2ebe1;
  border-right: solid 1px #666;
  border-left: solid 1px #666;
  border-bottom: solid 1px #666;
  width: 100px;
  margin-top: -2px;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  position: absolute;
  left: 50%;
  margin-left: -50px;
}

.main-posts .more-post {
  text-align: justify;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  /*float: left;*/
  display: inline-block;
}

.main-posts .more-post .more-post-title {
  font-weight: 700;
  font-size: 1.2rem;
}

.main-posts .more-post .more-post-excerpt p {
  display: inline;
  font-size: 0.8rem;
}

#post-container {
  display: flex;
}

#post-container .post {
  width: 70%;
  text-align: justify;
}

#post-container .sidebar {
  width: 30%;
  padding: 20px 0 0 20px;
}

#post-container .sidebar h4 {
  border-top: solid 1px #666;
  border-bottom: solid 1px #666;
  margin: 0;
  padding: 10px 0;
}

#post-container .post .post-author {
  border: 1px solid #666;
  padding: 20px;
  text-align: center;
}

#post-container .post .post-author h4 {
  text-transform: capitalize;
}

#post-container .post .post-author.post-author-nocolumn {
  width: 200px;
}

/* -------- Media Queries -------- */

@media screen and (max-width: 920px) {
  .main-posts .col-50, #post-container .post, #post-container .sidebar {
    width: 100%;
  }

  #post-container {
    flex-direction: column;
  }

  #post-container .sidebar {
    padding-left: 0;
  }
}

@media screen and (max-width: 500px) {
  .main-posts .col-50 {
    width: 100%;
  }

  .main-posts .col-50-highlights-container, .hr-col-50 {
    display: block;
  }

  #main-footer {
    display: none;
  }

  .main-posts .more-post-inside-container .more-post-inside, .main-posts .highlight .highlight-subtext a, .main-posts .highlight .highlight-subtext .highlight-subtext-excerpt p, .main-posts .highlight .highlight-subtext .highlight-subtext-more, .main-posts .col-50 .col-50-more, .main-posts .more-post .more-post-excerpt p {
    font-size: 1rem;
  }

  #main-nav .logo, .main-posts .highlight .highlight-title a {
    font-size: 2rem;
  }
}
