<!DOCTYPE html>
<html>
<head>
  <title>{% if page.title %}{{ page.title }} // {% endif %}{{ site.name }}</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css">
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'>  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<body>
  <div class="wrapper">
    <div class="main-nav">
      {% include nav.html %}
    </div>

    <div class="content">
      {{ content }}
    </div>
  </div>
</body>
</html>